* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(222, 142, 223);
    height: 70px;
    width: 60%;
    margin: auto;
    margin-top: 10px;
}

footer {
    width: 60%;
    height: 40px;
    background-color: rgb(159, 96, 214);
    margin: auto;
    margin-top: 10px;
    }
