
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(222, 142, 223);
    height: 70px;
    width: 60%;
    margin: auto;
    margin-top: 10px;
}

.wrapper {
    background-color: rgb(242, 230, 139);
    height: 250px;
    width: 60%;
    margin: auto;
    margin-top: 10px;
}

.clearflix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 60%;
    margin: auto;
    margin-top: 10px;
    background-color: rgb(54, 136, 248);
    padding-bottom: 15px;
}

.parte-alta {
    background-color: rgb(163, 204, 235);
    margin-bottom: 15px;
    height: 45px;
}

.primo, .terzo {
    width: 20%;
    height: 240px;
    background-color: rgb(163, 204, 235);
    float: left;    
}

.secondo {
    width: 58%;
    height: 240px;
    background-color: rgb(163, 204, 235);
    float: left;
    margin: 0 1%;
}

footer {
    width: 60%;
    height: 40px;
    background-color: rgb(159, 96, 214);
    margin: auto;
    margin-top: 10px;
    }